<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="Kitematic - The easiest way to start using Docker on your Mac.">
    <meta name="keywords" content="Docker,management,simple,easy,mac,desktop,app">
    <meta name="author" content="Kitematic">
    <link rel="canonical" href="https://kitematic.com">
    <meta property="og:locale" content="en_US">
    <meta property="og:url" content="https://kitematic.com">
    <meta property="og:image" content="https://kitematic.com/img/screenshot.png">
    <meta property="og:title" content="Kitematic">
    <meta property="og:site_name" content="Kitematic">
    <meta property="og:description" content="Kitematic - The easiest way to start using Docker on your Mac.">
    <meta property="og:type" content="website">

    <title>{{ page.title }}</title>

    <!-- build:css({app,.tmp}) /css/main.css -->
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <link href="/img/favicon.png" rel="shortcut icon">
    <script type="text/javascript">
      (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
      (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
      e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
      })(window,document,'script','//s.swiftypecdn.com/install/v1/st.js','_st');

      _st('install','PsJNtwHz8sDzz73QHUP7');
    </script>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </head>

  <body>
    {{ content }}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54184042-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- build:js(app) /js/scripts.js -->
    <script src="/js/bootstrap.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/retina.min.js" type="text/javascript"></script>
    <script src="/js/imagesloaded.min.js" type="text/javascript"></script>
    <!-- endbuild -->
  </body>
</html>
