---
layout: default
title: Kite FAQ
---

<section class="faq">
  {% include nav.html %}
  <div class="container">
    <div class="kite-panel">
      <div class="row">
        <div class="content col-sm-10 col-sm-offset-1">
          <article>
            <div class="header text-center">
              <h2 class="text-center">Frequently Asked Questions</h2>
              <h4>Did we miss something?<br><a href="mailto:contact@usekite.com?Subject=Question">Let us know.</a></h4>
            </div>
            {{ content }}
          </article>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</section>
