footer {
  background-color: white;
  font-size: 13px;
  margin-bottom: 30px;
  .list-inline {
    margin-top: 15px;
    font-weight: 300;
    li {
      color: #B0B7C1;
      a {
        color: #B0B7C1;
      }
    }
  }
}
