---
layout: default
title: Kitematic
---
<article class="home">
  <section class="header">
    {% include nav.html style="faded" %}
    <div class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><p>We're now part of Docker!</p></div>
        </div>
        <br>
        <img src="/img/acquisition.png" class="emblem" alt="Kitematic Logo Emblem">
        <br>
        <br>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><h1>The easiest way to use Docker on your Mac.</h1></div>
        </div>
        <br>
        <span class="visible-xs-inline">
          <a href="/docs" class="btn btn-lg btn-danger"><i class="fa-none"></i> Get Started</a>
        </span>
        <span class="hidden-xs">
          <a href="/download" class="btn btn-lg btn-danger splash-download-button">Download Kitematic Free</a>
          <p class="subtext">We're an open source project.</p>
        </span>
      </div>
    </div>
    <div class="text-center">
      <a class="screenshot fancybox.iframe" href="https://www.youtube.com/embed/L9szn1QQfas?autoplay=1">
        <img src="/img/screenshot.png" alt="Screenshot of Kitematic for Mac">
      </a>
    </div>
  </section>
  <section class="features">
    <div class="container">
      <h3>Why You'll Love Kitematic</h3>
      <div class="row feature">
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Fast and Easy Setup</h4>
            <p>Kitematic’s one click install gets Docker running on your Mac and lets you control your app containers from a graphical user interface (GUI).</p>
          </div>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <img src="img/feature1.png" class="img-responsive" alt="Zero to Docker in Minutes">
        </div>
      </div>
      <div class="row feature hidden-xs">
        <div class="col-sm-5">
          <img src="img/feature2.png" class="img-responsive" alt="Zero to Docker in Minutes">
        </div>
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Docker Hub Integration</h4>
            <p>Easily search and pull your favorite images on Docker Hub from Kitematic GUI to create and run your app containers.</p>
          </div>
        </div>
      </div>
      <div class="row feature visible-xs">
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Docker Hub Integration</h4>
            <p>Easily search and pull your favorite images on Docker Hub from Kitematic GUI to create and run your app containers.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <img src="img/feature2.png" class="img-responsive" alt="Zero to Docker in Minutes">
        </div>
      </div>
      <div class="row feature">
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Seamless Experience Between CLI and GUI</h4>
            <p>Seamlessly switch between Kitematic GUI or Docker CLI to run and manage your application containers.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <img src="img/feature3.png" class="img-responsive" alt="Seamless Experience Between CLI and GUI">
        </div>
      </div>
      <div class="row feature hidden-xs">
        <div class="col-sm-5">
          <img src="img/feature4.png" class="img-responsive" alt="Zero to Docker in Minutes">
        </div>
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Advanced Features</h4>
            <p>Automatically map ports, visually change environment variables, configuring volumes, streamline logs and CLI access to containers.</p>
          </div>
        </div>
      </div>
      <div class="row feature visible-xs">
        <div class="col-sm-5 col-sm-offset-1 desc">
          <div class="text">
            <h4>Advanced Features</h4>
            <p>Automatically map ports, visually change environment variables, configuring volumes, streamline logs and CLI access to containers.</p>
          </div>
        </div>
        <div class="col-sm-5">
          <img src="img/feature4.png" class="img-responsive" alt="Zero to Docker in Minutes">
        </div>
      </div>
      <div class="call-to-action">
        <a href="/download" class="btn btn-lg btn-primary">Download Kitematic Free</a>
      </div>
    </div>
  </section>
  <section class="newsletter">
    <div class="container text-center">
      <h4>Join the Docker Newsletter</h4>
      <form action="https://go.pardot.com/l/44082/2014-05-06/5yc" method="post" class="signup-form form-inline" role="form">
        <input name="state" type="hidden" value="on">
        <div class="input-group">
          <input name="email" type="email" class="form-control input-lg" placeholder="name@email.com">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
          </span>
        </div>
      </form>
    </div>
  </section>
  {% include footer.html %}
</article>
