<footer>
    <div class="container">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="http://blog.kitematic.com" target="_blank">Blog</a></li>
        <li><a href="https://github.com/kitematic/kitematic" target="_blank">Kitematic on GitHub</a></li>
        <li><a href="https://twitter.com/kitematic" target="_blank">Twitter @kitematic</a></li>
        <li><a href="/terms-of-service">Terms of Service</a></li>
      </ul>
    </div>
</footer>
