<footer>
    <div class="container">
      <ul class="list-inline">
        <li><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="https://www.hipchat.com/giAT9Fqb5" target="_blank">Chat With Us</a></li>
        <li><a href="https://github.com/kitematic/kitematic" target="_blank">Kitematic on GitHub</a></li>
        <li><a href="https://twitter.com/kitematic" target="_blank">Twitter @kitematic</a></li>
      </ul>
    </div>
</footer>
