---
layout: default
title: Jobs Kitematic
---
<article class="jobs">
  <section class="header">
    {% include nav.html style="faded" %}
    <div class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><p>Join the Team!</p></div>
        </div>
        <br>
        <img src="/img/acquisition.png" class="emblem" alt="Kitematic Logo Emblem">
        <br>
        <br>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><h1>Help us build a powerful, open platform for distributed applications.</h1></div>
        </div>
        <br>
        <span class="visible-xs-inline">
          <a href="https://www.docker.com/company/careers/?gh_jid=63048" class="btn btn-lg btn-danger"><i class="fa-none"></i> Apply Now!</a>
        </span>
        <span class="hidden-xs">
          <a href="https://www.docker.com/company/careers/?gh_jid=63048" class="btn btn-lg btn-danger splash-download-button">Apply Now!</a>
        </span>
      </div>
    </div>
  </section>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 nopadding">
        <img src="/img/jobs/office1.jpg" class="img-responsive" alt="Office">
        <img src="/img/jobs/office2.jpg" class="img-responsive" alt="Office">
        <img src="/img/jobs/office4.jpg" class="img-responsive" alt="Office">
      </div>
      <div class="col-sm-6">
        <div class="job-desc">
          <section>
            <h3>Our Team</h3>
            <p>
              Kitematic (acquired by Docker in 2015) is a Mac app for managing
              Docker containers. It brings a visual interface to the Docker
              platform, making it even more powerful and easy to use. We're
              looking for an experienced software engineer to join the team.
              In this role, you'll leverage core pieces of the Docker platform
              to architect and build an intuitive product for developers.
            </p>
            <p>
              Our team is highly autonomous. We love making developers' lives
              easier and every member is directly responsible for the product's
              success. Kitematic is open source and part of Docker, one of the
              fastest-growing open source communities in the world.
            </p>
          </section>
          <section>
            <h3>Position: Software Engineer</h3>
            <h4>Responsibilities</h4>
            <p>
              <ul>
                <li>Architect and launch new features end-to-end</li>
                <li>Design &amp; build high quality user interfaces that leverage key components of the Docker platform</li>
                <li>Work closely with our Product and UI/UX teams to design solutions to problems faced by developers around the world</li>
              </ul>
            </p>
            <h4>Requirements</h4>
            <p>
              <ul>
                <li>Experience owning, implementing and launching core features of a product</li>
                <li>Strong experience in Javascript</li>
                <li>A passion for UI/UX, and for making developers' lives easier</li>
                <li>Solid understanding computer science and programming fundamentals</li>
                <li>Bonus: experience with Docker or building tools that use the Docker Remote API</li>
                <li>Bonus: experience with Go</li>
              </ul>
            </p>
            <h4>Potential Projects</h4>
            <p>
              <ul>
                <li>A system for visually connecting and managing multi-container apps, powered by Docker Compose</li>
                <li>A host management system for running and managing containers in many VMs or servers, powered by Docker Machine</li>
                <li>Bringing Kitematic to Windows to more than double our developer reach</li>
                <li>A button on DockerHub that immediately downloads and runs a container on your laptop in Kitematic</li>
              </ul>
            </p>
          </section>
          <a href="https://www.docker.com/company/careers/?gh_jid=55693" class="btn btn-lg btn-danger" style="margin-bottom: 30px;"><i class="fa-none"></i> Apply Now!</a>
          <section>
            <h3>More About Docker</h3>
            <p>
              Docker, Inc. is the company behind the Docker open source project
              and is the chief sponsor of the Docker ecosystem. A fast growing
              pre-IPO company in San Francisco, our open platform allows
              developers and operations to build, ship and run any application
              anywhere.  Docker empowers organizations to accelerate innovation
              from months to minutes and move application services seamlessly
              from dev, build to test to production and between clouds.
              Our technology powers over 70,000 applications across some of the
              world’s most innovative organizations including Baidu, BBC News,
              eBay, Goldman Sachs, ING, Spotify and Yelp. Our vibrant ecosystem
              includes over 900 individuals who actively contribute to Docker
              open source and have spawned over 20,000 new Docker related
              projects and integration partnerships with leaders in the
              distributed application lifecycle.
            </p>
            <p>
              Docker, Inc. is venture backed by AME Cloud Ventures
              (Yahoo! Founder Jerry Yang), Benchmark (Peter Fenton),
              Greylock Partners (Jerry Chen), Insight Venture Partners
              (Jerry Murdock), Sequoia Capital (Bill Coughran),
              SV Angel (Ron Conway), Trinity Ventures (Dan Scholnick), Y Combinator.
            </p>
          </section>
          <a href="https://www.docker.com/company/careers/?gh_jid=55693" class="btn btn-lg btn-danger"><i class="fa-none"></i> Apply Now!</a>
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}
</article>
