---
layout: default
title: Jobs Kitematic
---
<article class="jobs">
  <section class="header">
    {% include nav.html style="faded" %}
    <div class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><p>Join the Team!</p></div>
        </div>
        <br>
        <img src="/img/acquisition.png" class="emblem" alt="Kitematic Logo Emblem">
        <br>
        <br>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1"><h1>Kitematic is looking for Software Engineers!</h1></div>
        </div>
        <br>
        <span class="visible-xs-inline">
          <a href="https://www.docker.com/company/careers/?gh_jid=55693" class="btn btn-lg btn-danger"><i class="fa-none"></i> Apply Now!</a>
        </span>
        <span class="hidden-xs">
          <a href="https://www.docker.com/company/careers/?gh_jid=55693" class="btn btn-lg btn-danger splash-download-button">Apply Now!</a>
        </span>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-sm-6">
      <img src="/img/jobs/office1.jpg" class="img-responsive" alt="Office">
      <img src="/img/jobs/office2.jpg" class="img-responsive" alt="Office">
      <img src="/img/jobs/office3.jpg" class="img-responsive" alt="Office">
      <img src="/img/jobs/office4.jpg" class="img-responsive" alt="Office">
    </div>
    <div class="col-sm-6">
      <div class="job-desc">
        <section>
          <h3>Our Team</h3>
          <p>
            We are Kitematic, acquired by Docker in 2015, is building a powerful
            and intuitive Desktop app for Docker. We are a successful open source
            project that has a vision of being the easiest way to use Docker and
            make developing and shipping complex software simple the delightful.
          </p>
          <p>
            Our team is nimble and highly autonomous, but above all, we love
            making developers' lives easier. Every member is directly responsible
            for the product's success. We're open source and part of Docker with
            one of the fastest-growing open source communities in the world.
          </p>
        </section>
        <section>
          <h3>Responsibilities</h3>
          <p>
            <ul>
              <li>Architect and implement key features of Kitematic end-to-end.</li>
              <li>Build and deliver high-quality, usable and performant user interfaces for complex back-end systems.</li>
              <li>Work closely with our Product and UI/UX teams to design solutions to problems faced by developers around the world.</li>
            </ul>
          </p>
        </section>
        <section>
          <h3>Requirements</h3>
          <p>
            <ul>
              <li>A deep passion for making developers' lives easier.</li>
              <li>Strong understanding computer science and programming fundamentals.</li>
              <li>You've implemented, launched and measured the success of a product.</li>
              <li>Web fundamentals:  DOM, Javascript, HTML, HTTP.</li>
              <li>Bonus: experience with React, Javascript ES6</li>
              <li>Bonus: you've used Docker or have built tools that use the Docker Remote API</li>
              <li>Bonus: you've deployed your own apps on popular cloud providers.</li>
            </ul>
          </p>
        </section>
        <section>
          <h3>Potential Projects</h3>
          <p>
            <ul>
              <li>A system for visually connecting and managing multi-container apps, powered by Docker Compose</li>
              <li>A host management system for running and visualizing containers in many VMs or servers, powered by Docker Machine</li>
              <li>Bringing Kitematic to Windows to more than double our developer reach</li>
              <li>A button on DockerHub that immediately downloads and runs a container on your laptop in Kitematic</li>
            </ul>
          </p>
        </section>
        <a href="https://www.docker.com/company/careers/?gh_jid=55693" class="btn btn-lg btn-danger"><i class="fa-none"></i> Apply Now!</a>
      </div>
    </div>
  </div>
  {% include footer.html %}
</article>
